#choice{
    margin-bottom: 75px;
    .choice-text{
        h5{
            @include fonts('inter',20px,500,$paracolor);
        }
        h3{
            @include fonts('inter',35px,700,$scolor);
            padding-right: 130px;
            padding-top: 5px;
            padding-bottom: 20px;
        }
        p{
            @include fonts('inter',16px,400,$paracolor);
            line-height: 30px;
        }
    }
}