#shop{
    margin-bottom: 130px;
    .shop-text{
        h6{
            @include fonts('inter',20px,500,$paracolor);            
        }
        h2{
            @include fonts('inter',35px,700,$scolor); 
            padding-right: 100px;
            padding-top: 5px;
            padding-bottom: 25px;
        }
        p{
            @include fonts('inter',15px,400,$paracolor); 
            line-height: 30px;
        }
        .ds-text{
            margin-left: 20px;
            h4{
                @include fonts('inter',20px,500,$scolor); 
            }
            h5{
                @include fonts('inter',16px,400,$paracolor); 
            }
        }
    }
}