#tender{
    margin-top: 100px;
    margin-bottom: 50px;
    .tender-text{
        
        h4{
            @include fonts('Inter',25px,600,$scolor);
        }
        .tender-small-text{
            padding-top: 20px;
            padding-bottom: 27px;
            .tender-rating{
                a{
    
                    i{
                        color: $textorang;
                        font-size: 16px
                    }
                }
            }
            h6{
                @include fonts('Inter',16px,400,$paracolor);
                padding: 0 20px;
            }
            h5{
                @include fonts('Inter',16px,600,$scolor);
            }
            p{
                @include fonts('Inter',16px,600,$paracolor);
            }
        }
        h2{
            @include fonts('Inter',25px,600,$textorang);
        }
        h3{
            @include fonts('Inter',16px,600,$paracolor);
            padding-top: 30px;
            padding-bottom: 36px;
        }
        .cart{
            display:flex;
            padding-top:22px;
            .quantity{
                width:200px;
                padding:14px 38px;
                border:1px solid $scolor;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                margin-right:20px;
                a{
                    i{
                        @include fonts(0,20px,600,$scolor);
                    }                    
                }
                p{
                    @include fonts('inter',20px,600,$scolor);
                }
            }
            
            .add{
                width:200px;
                padding:14px 38px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                background-color: $btnbg;
                color:$pcolor;
                cursor: pointer;
                p{
                    @include fonts('inter',20px,600,$pcolor); 
                    
                }
            }
            
        }
        .button{
            background-color: $hovercolor;
            padding:14px 167px;
            border-radius: 10px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            margin-top:20px;
            a{
                @include fonts('inter',20px,600,$pcolor);
                line-height:28px; 
                cursor: pointer;
            }
        }
        .wish{
            display:flex;
            padding-top:22px;
            .wishlist{
                width:200px;
                padding:14px;
                border:1px solid $scolor;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                margin-right:20px;
                a{
                    i{
                        @include fonts(0,20px,400,$paracolor);
                    }                    
                }
                p{
                    @include fonts('inter',16px,400,$paracolor);
                }
            }
            .compare{
                width:200px;
                padding:14px;
                border:1px solid $paracolor;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                margin-right:20px;
                a{
                    i{
                        @include fonts(0,20px,400,$paracolor);
                    }                  
                }
                p{
                    @include fonts('inter',16px,400,$paracolor);
                }
            }
        }
        .orgnaic-tag{
            
            h3{
                @include fonts('inter',20px,600,$scolor);
            }
            
        }
    }
}